<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>B-Air Airline Staff Change Information</title>
<link rel="stylesheet" href="../static/public_view.css" />
<head>
</head>
<body>

    <nav class="navbar">
		<div class="navbar__container">
		  <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
		  <div class="navbar__toggle" id="mobile-menu">
			<span class="bar"></span> <span class="bar"></span>
			<span class="bar"></span>
		  </div>
		  <ul class="navbar__menu">
			<!-- <li class="navbar__item">
			  <a href="/register/customer" class="navbar__links" id="links">Customer</a>
			</li>
			<li class="navbar__item">
			  <a href="/register/booking_agent" class="navbar__links" id="links">Booking Agent</a>
			<li class="navbar__item">
				<a href="/register/airline_staff" class="navbar__links" id="links">Airline Staff</a>
			</li> -->
			<li class="navbar__btn">
				<a href="/SearchFlight" class="button" id="sign-up">Back to Public View</a>
			</li>
		  </ul>
		</div>
	</nav>



    <div class="register-container" id="register-container">
        <form action="/Changeinfo" autocomplete="off" onsubmit="return formValidation()" method="POST">
            <label id="navbar__logo">Change your information here, booking agent!</label>
            <section>
                <div class="bluebutton">
                    <div class="smaller-container">
                        <label class="label">Email</label> </br>
                        <input type="text" id = "em" name = "username" value="{{info[0]}}" required/> </br>
                    </div>
                    <div class="smaller-container">
                        <label class="label">Booking agent id</label> </br>
                        <input type="text" id = "nm" name = "booking_agent_id" value="{{info[1]}}" required/> </br>
                        </br>
                        <input type="submit" value = Change />
                        <!-- <a href="/login/airline_staff" class="navbar__links__long" id="register-booking_agent">Already have an account? Login</a></br> -->
                        <!-- </div> -->
                        <!-- <label class="label">Confirm Password</label> </br>
                        <input type="text" id = "cpword" name = "confirm_password" placeholder="confirm password" required/> </br> -->
                    </div>
                </div>
                <div class="bluebutton"></div>
                <div class="bluebutton"></div>
                <div class="bluebutton"></div>
            </section>

        </form>
    </div>

            {% if error %}
				<div class="topbutton">
					<div class='warning'>
						{{error}}
					</div>
				</div>
            {% endif %}

</body>


</html>

<script>
    var date_format;

    // Initialize date format
    date_format = 'YYYY-MM-DD';
    today = new Date().toISOString().substr(0, 10);
    pastest = new Date();
    pastest.setYear(pastest.getYear()-100);
    pastest = pastest.toISOString().substr(0, 10);
    document.getElementsByName("passport_expiration")[0].setAttribute('min', today);
    document.getElementsByName("date_of_birth")[0].setAttribute('min', pastest);
    document.getElementsByName("date_of_birth")[0].setAttribute('max', today);

    function formValidation() {
        var form_usn, form_pn, form_pw, form_cpw;

        form_usn = document.getElementsByName("username")[0].value;
        form_pn = document.getElementsByName("phone_number")[0].value;
        form_pw = document.getElementsByName("password")[0].value;
        form_cpw = document.getElementsByName("confirm_password")[0].value;
        form_px = document.getElementsByName("passport_expiration")[0].value;
        form_dob = document.getElementsByName("date_of_birth")[0].value;

        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!re.test(form_usn.toLowerCase())) {
            alert("Email format is wrong! Please try again");
            return false;
        }

        // if (form_pn.length>11) {
        //     alert("Phone number too long, should be within 11 characters! Please try again");
        //     return false;
        // }

        // if (form_pw != form_cpw) {
        //     alert("Password is not confirmed! Please try again");
        //     return false;
        // }
        
        // if (form_px < today) {
        //     alert("Passport expiration date can not before today!");
        //     return false;
        // }

        // if ((form_dob >= today) || (form_dob < pastest)) {
        //     alert("Date of birth invalid!");
        //     return false;
        // }

        // if (!moment(form_px, date_format, true).isValid()) {
        //     alert("Passport expiration date is not valid. Support format: 'YYYY-MM-DD'");
        //     return false;
        // }

        // if (!moment(form_dob, date_format, true).isValid()) {
        //     alert("Date of birth date is not valid. Support format: 'YYYY-MM-DD'");
        //     return false;
        // }
        
        return true;
        }
</script>