<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B-Airline</title>
        <link rel="stylesheet" href="../static/public_view.css" />
        <script src="../static/lib/moment.js"></script>
    </head>


    <body>
        <nav class="navbar">
            <div class="navbar__container">
              {% if session["logged_in"] == True%}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR for {{session["type"]}}</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% else %}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% endif%}
              <ul class="navbar__menu">
                        <li class="navbar__item">
                        <a href="/SearchFlight" class="navbar__links" id="links">Search Flight</a>
                        </li>
                        <li class="navbar__item">
                        <a href="/CheckStatus" class="navbar__links" id="links">Check Status</a>
                        </li>
                  {% if session["logged_in"] == True%}
                    {% if session.get("type", "guest") == "customer" or session.get("type", "guest") == "booking_agent" or session.get("type", "guest") == "airline_staff"%}
                      <li class="navbar__item">
                        <a href="/ViewMyFlights" class="navbar__links" id="links">View My Flights</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "customer"%}
                      <li class="navbar__item">
                        <a href="/TrackMySpending" class="navbar__links" id="links">Track My Spending</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "booking_agent"%}
                      <li class="navbar__item">
                        <a href="/ViewMyCommission" class="navbar__links" id="links">View My Commision</a>
                      </li>
                      <li class="navbar__item">
                        <a href="/ViewTopCustomers" class="navbar__links" id="links">View Top Customers</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "airline_staff"%}
                        <div class="dropdown">
                        <button class="dropbtn">Staff Management 
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="/CreateNewFlights">Create New Flights</a>
                          <a href="/ChangeFlightStatus">Change Flights Status</a>
                          <a href="/AddAirplane">Add Airplane</a>
                          <a href="/AddAirport">Add Airport</a>
                        </div>
                      </div> 

                      <div class="dropdown">
                        <button class="dropbtn">Staff Views 
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="/ViewAllBookingAgent">View Booking Agent</a>
                          <a href="/ViewFrequentCustomers">View Frequent Customers</a>
                          <a href="/ViewReports">View Reports</a>
                          <a href="/ComparisonOfRevenueEarned">View Camparison of Revenue Earned</a>
                          <a href="/ViewTopDestinations">View Top Destinations</a>
                        </div>
                      </div> 
                    {% endif %}
                        <li class="navbar__btn">
                        <a href="/logout" class="button" id="logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="navbar__btn">
                        <a href="/login" class="button" id="login">Login</a>
                        </li>
                        <li class="navbar__btn">
                            <a href="/register" class="button" id="sign-up">Register</a>
                        </li>
                    {% endif%}

              </ul>
            </div>
        </nav>

        <div class="search-container">
            <form action="/ChangeFlightStatus" autocomplete="off" method="POST">
                <label id="navbar__logo">Change flight status here</label>
                <label class="label"> </label> </br>
                <label class="label">Flight number</label> </br>
                <input type="text" name = "flight_num" placeholder="flight number" required/> </br>
                <label class="label">Airline name</label> </br>
                <input type="text" name = "airline_name" value="{{session['airline']}}" readonly/> </br>
                <label class="label">Updated status</label> </br>
                <!-- <div class="upcomingbutton">Upcoming</div> -->
                <select name="status" id="status" style="font-size: 18px; height: 40px; width: 150px; text-align: center;">
                    <option value="Upcoming">Upcoming</option>
                    <option value="In-progress">In-progress</option>
                    <option value="Delayed">Delayed</option>
                    <option value="Canceled">Canceled</option>
                </select> </br>
                <!-- <input type="button" id= "upcomingbutton" value="Upcoming">
                <input type="button" id= "inprogressbutton" value="In-progress">
                <input type="button" id= "delayedbutton" value="Delayed">
                <input type="button" id= "canceledbutton" value="Canceled"> -->
                <input type="submit" value = Change />
                <label class="label"> </label> </br>
                <!-- <a href="/" class="button" id="go-back">Go back</a> -->
            </form>
        </div>
        {% if error %}
        <div class="topbutton">
            <div class='warning'>
                {{error}}
            </div>
        </div>
    {% endif %}
    
    </body>