<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B-Airline</title>
        <link rel="stylesheet" href="../static/public_view.css" />
    </head>


    <body>
        <nav class="navbar">
            <div class="navbar__container">
              <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
              <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span> <span class="bar"></span>
                <span class="bar"></span>
              </div>
              <ul class="navbar__menu">
                <li class="navbar__item">
                  <a href="/SearchFlight" class="navbar__links" id="links">Search Flight</a>
                </li>
                <li class="navbar__item">
                  <a href="/CheckStatus" class="navbar__links" id="links">Check Status</a>
                <li class="navbar__btn">
                  <a href="/login" class="button" id="login">Login</a>
                </li>
                <li class="navbar__btn">
                    <a href="/register" class="button" id="sign-up">Register</a>
                </li>
              </ul>
            </div>
        </nav>


        <div class="search-container" id="search-container">
            <form action="/CheckStatus" autocomplete="off" method="POST">
                <label id="navbar__logo">Welcome! You may check status here!</label> </br>
                <label class="label">Flight Number</label>             
                <input type="text", list="flight" name = "flight_num" placeholder="flight number" required/> </br>
                <datalist id="flight-number">
                    {% for line in flight_number %}
                        <option value="{{line}}">
                    {% endfor %}
                </datalist>
                <label class="label">Date</label>
                <input type="date" name = "departure_date" placeholder="date" id = "date" required/> </br>
                <input type="submit" value = Search>
            </form>
        </div>
