<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B-Airline</title>
        <link rel="stylesheet" href="../static/public_view.css" />
        <script src="../static/lib/moment.js"></script>
    </head>


    <body>
        <nav class="navbar">
            <div class="navbar__container">
              {% if session["logged_in"] == True%}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR for {{session["type"]}}</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% else %}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% endif%}
              <ul class="navbar__menu">
                <li class="navbar__item">
                  <a href="/SearchFlight" class="navbar__links" id="links">Search Flight</a>
                </li>
                <li class="navbar__item">
                  <a href="/CheckStatus" class="navbar__links active" id="links">Check Status</a>

                  {% if session["logged_in"] == True%}
                    {% if session.get("type", "guest") == "customer" or session.get("type", "guest") == "booking_agent" or session.get("type", "guest") == "airline_staff"%}
                      <li class="navbar__item">
                        <a href="/ViewMyFlights" class="navbar__links" id="links">View My Flights</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "customer"%}
                      <li class="navbar__item">
                        <a href="/TrackMySpending" class="navbar__links" id="links">Track My Spending</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "booking_agent"%}
                      <li class="navbar__item">
                        <a href="/ViewMyCommission" class="navbar__links" id="links">View My Commision</a>
                      </li>
                      <li class="navbar__item">
                        <a href="/ViewTopCustomers" class="navbar__links" id="links">View Top Customers</a>
                      </li>
                    {% endif %}

                    {% if session.get("type", "guest") == "airline_staff"%}

                      <div class="dropdown">
                        <button class="dropbtn">Staff Management 
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="/CreateNewFlights">Create New Flights</a>
                          <a href="/ChangeFlightStatus">Change Flights Status</a>
                          <a href="/AddAirplane">Add Airplane</a>
                          <a href="/AddAirport">Add Airport</a>
                        </div>
                      </div> 

                      <div class="dropdown">
                        <button class="dropbtn">Staff Views 
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="/ViewAllBookingAgent">View Booking Agent</a>
                          <a href="/ViewFrequentCustomers">View Frequent Customers</a>
                          <a href="/ViewReports">View Reports</a>
                          <a href="/ComparisonOfRevenueEarned">View Camparison of Revenue Earned</a>
                          <a href="/ViewTopDestinations">View Top Destinations</a>
                        </div>
                      </div>  

                    {% endif %}

                    
                        <li class="navbar__btn">
                        <a href="/logout" class="button" id="logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="navbar__btn">
                        <a href="/login" class="button" id="login">Login</a>
                        </li>
                        <li class="navbar__btn">
                            <a href="/register" class="button" id="sign-up">Register</a>
                        </li>
                    {% endif%}

              </ul>
            </div>
        </nav>
        <section>
            <div class="full-container"> 
                <div class="half-container"> 
                    <div class="search-container" id="search-container">
                        <form action="/CheckStatus" onsubmit="return formValidation()" autocomplete="off" method="POST">
                            <label id="navbar__logo">Welcome! </br> You may check flight status here!</label> </br>
                            <label class="label">Flight Number</label>    </br>         
                            <input type="text" name = "flight_num" placeholder="flight number" required/> </br>
                            <label class="label">Departure Date</label>
                            <input type="date" name = "departure_date" placeholder="date" id = "date"/>
                            <label class="label">Arrival Date</label>
                            <input type="date" name = "arrival_date" placeholder="date" id = "date"/> </br>
                            <input type="submit" value = Search>
                        </form>
                    </div>
                </div>
                <div class="half-container">
                    <div class="half-smaller-container">
                    {% if error %}
                                <div class="topbutton">
                                    <div class='warning'>
                                        {{error}}
                                    </div>
                                </div>
                    {% else %}
                        {% if not status %}
                                        <div class='warning'>
                                            Today's flights status
                                        </div>
                                    </br>
                        {% endif %}
                        {% if status_result %}
                            <div class="topbutton">
                                <div class="statusbar-container">
                                    Airline / flight
                                </div>
                                <div class="statusbar-container">
                                    Date / depart time
                                </div>
                                <div class="statusbar-container">
                                    Status
                                </div>
                            </div>
                        {% endif%}
                            {% for line in status_result %}
                                <section>
                                    <div class="bluebutton">
                                        <section class="bluebutton">
                                            <div class="status-button-container1">
                                                <div class="otherlabel">{{line[0]}}</div>
                                            </br>
                                                <div class="otherlabel">{{line[1]}}</div>
                                            </div>
                                            <div class="status-button-container">
                                                <section class="otherlabel">{{line[4]}}</section>
                                            </div>
                                            <div class="status-button-container1">
                                                {% if line[2] == 'Upcoming' %}
                                                    <section class="upcominglabel">{{line[2]}}</section>
                                                {% elif line[2] == 'In-progress' %}
                                                    <section class="inprogresslabel">{{line[2]}}</section>
                                                {% elif line[2] == 'Delayed' %}
                                                    <section class="delayedlabel">{{line[2]}}</section>
                                                {% elif line[2] == 'Canceled' %}
                                                    <section class="canceledlabel">{{line[2]}}</section>
                                                {% elif line[2] == 'Finished' %}
                                                    <section class="finishedlabel">{{line[2]}}</section>
                                                {% endif%}
                                            </div> 
                                        </section>
                                    </div>
                                </section>
                            {% endfor%}
                    {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <!-- {% if status_result %}
            <div class="topbutton">
                <div class="statusbar-container">
                    Airline / flight
                </div>
                <div class="statusbar-container">
                    Date / depart time
                </div>
                <div class="statusbar-container">
                    Status
                </div>
            </div>
        {% endif%}
        
        {% if not status %}
            {% if error %}
                    <div class="topbutton">
                        <div class='warning'>
                            {{error}}
                        </div>
                    </div>
            {% endif %}
        {% else %}
            {% for line in status_result %}
                <section class="button">
                    <div class="bluebutton">
                        <section class="bluebutton">
                            <div class="status-button-container1">
                                <div class="otherlabel">{{line[0]}}</div>
                            </br>
                                <div class="otherlabel">{{line[1]}}</div>
                            </div>
                            <div class="status-button-container">
                                <section class="otherlabel">{{line[4]}}</section>
                            </div>
                            <div class="status-button-container1">
                                {% if line[2] == 'Upcoming' %}
                                    <section class="upcominglabel">{{line[2]}}</section>
                                {% elif line[2] == 'In-progress' %}
                                    <section class="inprogresslabel">{{line[2]}}</section>
                                {% elif line[2] == 'Delayed' %}
                                    <section class="delayedlabel">{{line[2]}}</section>
                                {% elif line[2] == 'Canceled' %}
                                    <section class="canceledlabel">{{line[2]}}</section>
                                {% endif%}
                            </div> 
                        </section>
                    </div>
                </section>
            {% endfor%}
        {% endif %}
 -->





    </body>
    <script type="text/javascript">
        var flights_status = {{status_result | safe}}, date_format = 'YYYY-MM-DD';

        function formValidation() {
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var form_departure_date, form_arrival_date;

            form_departure_date = document.getElementsByName("departure_date")[0].value;
            form_arrival_date = document.getElementsByName("arrival_date")[0].value;

            if ((!form_departure_date) && (!form_arrival_date)) {
                alert("At least one of departure/arrival date should be filled!");
                return false;
            }

            if (form_departure_date && (!moment(form_departure_date, date_format, true).isValid())) {
                alert("Departure date is not valid. Support format: 'YYYY-MM-DD'");
                return false;
            }

            if (form_arrival_date && (!moment(form_arrival_date, date_format, true).isValid())) {
                alert("Arrival date is not valid. Support format: 'YYYY-MM-DD'");
                return false;
            }

            return true;

        }

        var header = document.getElementById("myDIV");
        var btns = header.getElementsByClassName("navbar__links");
        for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
        });
        }

    </script>
</html>
