<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>B-Airline Login</title>
<link rel="stylesheet" href="../static/public_view.css" />
<head>
</head>
<body>
        <nav class="navbar">
            <div class="navbar__container">
              <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
              <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span> <span class="bar"></span>
                <span class="bar"></span>
              </div>
              <ul class="navbar__menu">
                <li class="navbar__item">
                  <a href="/" class="navbar__links" id="links">Search Flight</a>
                </li>
                <li class="navbar__item">
                  <a href="/" class="navbar__links" id="links">Check Status</a>
                <li class="navbar__btn">
                  <a href="/login" class="button" id="login">Login</a>
                </li>
                <li class="navbar__btn">
                    <a href="/register" class="button" id="sign-up">Register</a>
                </li>
              </ul>
            </div>
        </nav>

    