<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B-Airline</title>
        <link rel="stylesheet" href="../static/public_view.css" />
        <link rel="stylesheet" href="../static/lib/jquery-ui.css">
        <script src="../static/lib/jquery-1.12.4.js"></script>
        <script src="../static/lib/jquery-ui.js"></script>
        <script src="../static/lib/moment.js"></script>
    </head>


    <body>
        <nav class="navbar">
            <div class="navbar__container">
              {% if session["logged_in"] == True%}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR for {{session["type"]}}</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% else %}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% endif%}
                <ul class="navbar__menu">
                    <li class="navbar__item">
                    <a href="/SearchFlight" class="navbar__links" id="links">Search Flight</a>
                    </li>
                    <li class="navbar__item">
                    <a href="/CheckStatus" class="navbar__links" id="links">Check Status</a>
                    </li>
                  {% if session["logged_in"] == True%}
                    {% if session.get("type", "guest") == "customer" or session.get("type", "guest") == "booking_agent" or session.get("type", "guest") == "airline_staff"%}
                      <li class="navbar__item">
                        <a href="/ViewMyFlights" class="navbar__links" id="links">View My Flights</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "customer"%}
                      <li class="navbar__item">
                        <a href="/TrackMySpending" class="navbar__links" id="links">Track My Spending</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "booking_agent"%}
                      <li class="navbar__item">
                        <a href="/ViewMyCommission" class="navbar__links" id="links">View My Commision</a>
                      </li>
                      <li class="navbar__item">
                        <a href="/ViewTopCustomers" class="navbar__links" id="links">View Top Customers</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "airline_staff"%}
                      <div class="dropdown">
                      <button class="dropbtn">Staff Management 
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="/CreateNewFlights">Create New Flights</a>
                        <a href="/ChangeFlightStatus">Change Flights Status</a>
                        <a href="/AddAirplane">Add Airplane</a>
                        <a href="/AddAirport">Add Airport</a>
                      </div>
                    </div> 

                    <div class="dropdown">
                      <button class="dropbtn">Staff Views 
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="/ViewAllBookingAgent">View Booking Agent</a>
                        <a href="/ViewFrequentCustomers">View Frequent Customers</a>
                        <a href="/ViewReports">View Reports</a>
                        <a href="/ComparisonOfRevenueEarned">View Camparison of Revenue Earned</a>
                        <a href="/ViewTopDestinations">View Top Destinations</a>
                      </div>
                    </div> 
                    {% endif %}
                    <div class="dropdown">
                      <button class="dropbtn" id="info">{{session["email"]}} 
                      <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                      <a href="/Changeinfo">Change my info</a>
                      <a href="/logout">Logout</a>
                      </div>
                  </div>
                    {% else %}
                        <li class="navbar__btn">
                        <a href="/login" class="button" id="login">Login</a>
                        </li>
                        <li class="navbar__btn">
                            <a href="/register" class="button" id="sign-up">Register</a>
                        </li>
                    {% endif%}

              </ul>
            </div>
        </nav>
      </br>
        {% if error %}
        <div class="topbutton">
          <div class='warning'>
            {{error}}
          </div>
        </div>
            {% endif %}

        <div class="register-container" id="register-container">
          <form action="/CreateNewFlights" autocomplete="off" onsubmit="return formValidation()" method="POST">
              <label id="navbar__logo">Create new flights here</label>
              <section>
                  <div class="bluebutton">
                      <div class="smaller-container">
                          <label class="label">Airline Name</label> </br>
                          <input type="text" id = "em" name = "airline_name" placeholder="airline name" value="{{session['airline']}}" readonlys/> </br>
                          <label class="label">Departure Airport</label> </br>
                          <input type="text" id = "src_dl" name = "departure_airport" placeholder="departure airport" required/> </br>
                      </div>
                      <div class="smaller-container">
                          <label class="label"> Flight Num</label> </br>
                          <input type="text" id = "pword" name = "flight_num" placeholder="flight num" required/> </br>
                          <label class="label">Departure Date</label> </br>
                          <input type="date" id = "dd" name = "departure_date" style = "height: 50px; margin: 10px; width: 260px; text-align: center;" placeholder="departure time" required/> </br>
                          
                      </div>
                  </div>
              </section>
  
              <section>
                  <div class="bluebutton">
                      <div class="smaller-container">
                          <label class="label">Departure Time</label> </br>
                          <input type="time" id = "cpword" name = "departure_time" style = "height: 50px; margin: 10px; width: 260px; font-size:25px; text-align: center;" placeholder="departure time" required/> </br>
                          <label class="label">Arrival Date</label> </br>
                          <input type="date" id = "ad" name = "arrival_date" style = "height: 50px; margin: 10px; width: 260px; text-align: center;" placeholder="departure time" required/> </br>
                          
                      </div>
                      <div class="smaller-container">
                          <label class="label">Arrival Airport</label> </br>
                          <input type="text" id = "dst_dl" name = "arrival_airport" placeholder="arrival airport" required/> </br>
                          <label class="label">Arrival Time</label> </br>
                          <input type="time" id = "ct" name = "arrival_time" placeholder="arrival time" style = "height: 50px; margin: 10px; width: 260px; font-size:25px; text-align: center;" required/> </br>
                          
                          </select>
                      </div>
                  </div>
              </section>
  
              <section>
                  <div class="bluebutton">
                      <div class="smaller-container">
                          <label class="label">Price</label> </br>
                          <input type="text" id = "str" name = "price" placeholder="price" required/> </br>
                          <label class="label">Plane ID</label>
                          <input type="text" id = "dob" name = "plane_id" placeholder="plane id" required/>
                      </div>
                      <div class="smaller-container">
                        <label class="label">Status</label> </br>
                          <!-- <input type="text" id = "sta" name = "status" placeholder="status" required/> </br> -->
                          <select name="status" id="status" style="font-size: 18px; height: 50px; width: 260px; margin: 10px; text-align: center;">
                            <option value="Upcoming">Upcoming</option>
                            <option value="In-progress">In-progress</option>
                            <option value="Delayed">Delayed</option>
                            <option value="Canceled">Canceled</option>
                            <option value="Finished">Finished</option>
                          <input type="submit" value = Create />
                      </div>
                  </div>
              </section>
              
          </form>
      </div>
  
  </body>

  <script>
        var airports_and_city, ht={};
        airports_and_city = {{airport_city | safe}};


        for (let data of airports_and_city) {
          temp = data.split(" - ");
          if (temp.length == 2) {
              ht[temp[1]] = temp[0];
          }
      }

        $(document).ready(function() {
            $("#src_dl").autocomplete({
                source: function(request, response){
                    var results = $.ui.autocomplete.filter(Object.keys(ht), request.term);
                    response(results.slice(0, 5));
                }
            });
            $("#dst_dl").autocomplete({
                source: function(request, response){
                    var results = $.ui.autocomplete.filter(Object.keys(ht), request.term);
                    response(results.slice(0, 5));
                }
            });
        });

    function formValidation() {
      var temp, dpt_airport, arr_airport, dpt_time, arr_time, p;
      // var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test;
      dpt_airport = document.getElementsByName("departure_airport")[0].value;
      arr_airport = document.getElementsByName("arrival_airport")[0].value;
      dpt_date = document.getElementsByName("departure_date")[0].value;
      arr_date = document.getElementsByName("arrival_date")[0].value;
      dpt_time = document.getElementsByName("departure_time")[0].value;
      arr_time = document.getElementsByName("arrival_date")[0].value + document.getElementsByName("arrival_airport")[0].value;
      p = document.getElementsByName("price")[0].value;
      airports_and_city = {{airport_city | safe}};

      

      if (!(dpt_airport in ht)) {
        alert("Enter a valid departure airport!");
        return false;
      }

      if (!(arr_airport in ht)) {
        alert("Enter a valid arrival airport!");
        return false;
      }

      if (ht[dpt_airport] == ht[arr_airport]) {
        alert("Departure airport cannot be in the same city as arrival airport!");
        return false;
      }

      // if (dpt_time) {
      //   alert("Depart time should be before arrive time!")
      // }

      if (dpt_date + dpt_time > arr_date + arr_time) {
        alert("Depart time should be before arrive time!");
        return false;
      }

      if (!Number.isInteger(Number(p))) {
                alert("Price should be number!");
                return false;
            }

      if (Number(p) < 0) {
                alert("Pricw should be greater than 0!");
                return false;
            }

      return true;
    }


  </script>