<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B-Airline</title>
        <link rel="stylesheet" href="../static/public_view.css" />
        <script src="../static/lib/moment.js"></script>
    </head>


    <body>
        <nav class="navbar">
            <div class="navbar__container">
              {% if session["logged_in"] == True%}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR for {{session["type"]}}</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% else %}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% endif%}
                <ul class="navbar__menu">
                  {% if session.get("type", "guest") != "airline_staff" %}
                          <li class="navbar__item">
                          <a href="/SearchFlight" class="navbar__links" id="links">Search Flight</a>
                          </li>
                          <li class="navbar__item">
                          <a href="/CheckStatus" class="navbar__links" id="links">Check Status</a>
                          </li>
                  {% endif%}
                  {% if session["logged_in"] == True%}
                    {% if session.get("type", "guest") == "customer" or session.get("type", "guest") == "booking_agent" or session.get("type", "guest") == "airline_staff"%}
                      <li class="navbar__item">
                        <a href="/ViewMyFlights" class="navbar__links" id="links">View My Flights</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "customer"%}
                      <li class="navbar__item">
                        <a href="/TrackMySpending" class="navbar__links" id="links">Track My Spending</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "booking_agent"%}
                      <li class="navbar__item">
                        <a href="/ViewMyCommission" class="navbar__links" id="links">View My Commision</a>
                      </li>
                      <li class="navbar__item">
                        <a href="/ViewTopCustomers" class="navbar__links" id="links">View Top Customers</a>
                      </li>
                    {% endif %}
                    {% if session.get("type", "guest") == "airline_staff"%}
                      <div class="dropdown">
                      <button class="dropbtn">Staff Management 
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="/CreateNewFlights">Create New Flights</a>
                        <a href="/ChangeFlightStatus">Change Flights Status</a>
                        <a href="/AddAirplane">Add Airplane</a>
                        <a href="/AddAirport">Add Airport</a>
                      </div>
                    </div> 
                    {% endif %}
                        <li class="navbar__btn">
                        <a href="/logout" class="button" id="logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="navbar__btn">
                        <a href="/login" class="button" id="login">Login</a>
                        </li>
                        <li class="navbar__btn">
                            <a href="/register" class="button" id="sign-up">Register</a>
                        </li>
                    {% endif%}

              </ul>
            </div>
        </nav>



        <div class="register-container" id="register-container">
          <form action="/CreateNewFlights" autocomplete="off" onsubmit="return formValidation()" method="POST">
              <label id="navbar__logo">Create new flights here</label>
              <section>
                  <div class="bluebutton">
                      <div class="smaller-container">
                          <label class="label">Airline Name</label> </br>
                          <input type="text" id = "em" name = "airline_name" placeholder="airline name" required/> </br>
                          <label class="label">Departure Airport</label> </br>
                          <input type="text" id = "nm" name = "departure_airport" placeholder="departure airport" required/> </br>
                      </div>
                      <div class="smaller-container">
                          <label class="label"> Flight Num</label> </br>
                          <input type="text" id = "pword" name = "flight_num" placeholder="flight num" required/> </br>
                          <label class="label">Departure Time</label> </br>
                          <input type="time" id = "cpword" name = "departure_time" style = "height: 50px; margin: 10px; width: 260px; font-size:25px; text-align: center;" placeholder="departure time" required/> </br>
                      </div>
                  </div>
              </section>
  
              <section>
                  <div class="bluebutton">
                      <div class="smaller-container">
                          <label class="label">Arrival Airport</label> </br>
                          <input type="text" id = "bd" name = "arrival_airport" placeholder="arrival airport" required/> </br>
                          <label class="label">Price</label> </br>
                          <input type="text" id = "str" name = "price" placeholder="price" required/> </br>
                      </div>
                      <div class="smaller-container">
                          <label class="label">Arrival Time</label> </br>
                          <input type="time" id = "ct" name = "arrival_time" placeholder="arrival time" style = "height: 50px; margin: 10px; width: 260px; font-size:25px; text-align: center;" required/> </br>
                          <label class="label">Status</label> </br>
                          <!-- <input type="text" id = "sta" name = "status" placeholder="status" required/> </br> -->
                          <select name="status" id="status" style="font-size: 18px; height: 50px; width: 260px; margin: 10px;">
                            <option value="Upcoming">Upcoming</option>
                            <option value="In-progress">In-progress</option>
                            <option value="Delayed">Delayed</option>
                            <option value="Canceled">Canceled</option>
                          </select>
                      </div>
                  </div>
              </section>
  
              <section>
                  <div class="bluebutton">
                      <div class="smaller-container">
                          <label class="label">Plane ID</label>
                          <input type="text" id = "dob" name = "plane_id" placeholder="plane id" required/>
                      </div>
                      <div class="smaller-container">
                          <input type="submit" value = Create />
                      </div>
                  </div>
              </section>
              
              {% if error %}
          <div class="topbutton">
            <div class='warning'>
              {{error}}
            </div>
          </div>
              {% endif %}
          </form>
      </div>
  
  </body>