<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B-Airline</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/public_view.css') }}" />
        <link rel="stylesheet" href="../static/lib/jquery-ui.css">
        <script src="../static/lib/jquery-1.12.4.js"></script>
        <script src="../static/lib/jquery-ui.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    </head>

    <style>
        tfoot {display: table-row-group;}
    </style>


<body>
    <nav class="navbar">
        <div class="navbar__container">
          {% if session["logged_in"] == True%}
                <a href="/SearchFlight" id="navbar__logo">B-AIR for {{session["type"]}}</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span> <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            {% endif%}
        </div>
        <ul class="navbar__menu">
			<li class="navbar__btn">
				<a href="/ViewMyFlights" class="button" id="sign-up">Back to View My Flights</a>
			</li>
		  </ul>
    </nav>
        <div class="table-container">
        <table id="exa"></table>
        </br></br>
        <table id="example" class="display"></table>
        </br>
        </div>
    </body>


    <script>
      let info = {{clicked_flight | safe}}

      function generateTableHead(table, data) {
          let thead = table.createTHead();
          let row = thead.insertRow();
          for (let key of data) {
              let th = document.createElement("th");
              let text = document.createTextNode(key);
              th.appendChild(text);
              row.appendChild(th);
          }
      }

      function generateTable(table, data) {
          for (let element of data) {
              let row = table.insertRow();
              for (key in element) {
              let cell = row.insertCell();
              let text = document.createTextNode(element[key]);
              cell.appendChild(text);
              }
          }
      }

      function generateTableFoot(table, data) {
          let tfoot = table.createTFoot();
          let frow = tfoot.insertRow(0);
          for (let key of data) {
              let fth = document.createElement("th");
              let ftext = document.createTextNode(key);
              fth.appendChild(ftext);
              frow.appendChild(fth);
          }
      }

      let table = document.getElementById("exa");
      let data = ["Airline", "Flight", "Depart airport", "Depart city", "Depart time", "Arrive airport", "Arrive city", "Arrive time", "Price", "Status", "Airplane"];
      generateTable(table, info);
      generateTableHead(table, data);
      

    //   var header = document.getElementById("myDIV");
    //     var btns = header.getElementsByClassName("navbar__links");
    //     for (var i = 0; i < btns.length; i++) {
    //     btns[i].addEventListener("click", function() {
    //     var current = document.getElementsByClassName("active");
    //     current[0].className = current[0].className.replace(" active", "");
    //     this.className += " active";
    //     });
    //     }



        let info1 = {{customer_info | safe}};
        let table1 = document.getElementById("example");
        let data1 = ["Customer email", "Customer name", "Phone number", "passport number", "date of birth"];
        let sessions = "{{session['type']}}";
        generateTable(table1, info1);
        // generateTableFoot(table1, data1);
        generateTableHead(table1, data1);
        

        // $(document).ready(function() {
        //     // Setup - add a text input to each footer cell
        //     $('#example tfoot th').each( function () {
        //         var title = $(this).text();
        //         $(this).html( '<input type="text" id="tabletext" placeholder="'+title+'" />' );
        //     } );
        
            // DataTable
        //     var table = $('#example').DataTable({
        //         initComplete: function () {
        //             // Apply the search
        //             this.api().columns().every( function () {
        //                 var that = this;
        
        //                 $( 'input', this.footer() ).on( 'keyup change clear', function () {
        //                     if ( that.search() !== this.value ) {
        //                         that
        //                             .search( this.value )
        //                             .draw();
        //                     }
        //                 } );
        //             } );
        //         }
        //     });

        //     var table = $('#example').DataTable( {
        //     orderCellsTop: true,
        //     fixedHeader: true
        // } );
        
        // } );

        $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example thead tr').clone(true).appendTo( '#example thead' );
    $('#example thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );
 
    var table = $('#example').DataTable( {
        orderCellsTop: true,
        fixedHeader: true
    } );
} );
  </script>

</html>