<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B-Airline</title>
        <link rel="stylesheet" href="../static/public_view.css" />
        <link rel="stylesheet" href="../static/lib/jquery-ui.css">
        <script src="../static/lib/jquery-1.12.4.js"></script>
        <script src="../static/lib/jquery-ui.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    </head>

    <style>
        tfoot {display: table-row-group;}
    </style>


    <body>
        <table id="exa"></table>
        <table id="example" class="display"></table>
    </body>


    <script>
      let info = {{clicked_flight | safe}}

      function generateTableHead(table, data) {
          let thead = table.createTHead();
          let row = thead.insertRow();
          for (let key of data) {
              let th = document.createElement("th");
              let text = document.createTextNode(key);
              th.appendChild(text);
              row.appendChild(th);
          }
      }

      function generateTable(table, data) {
          for (let element of data) {
              let row = table.insertRow();
              for (key in element) {
              let cell = row.insertCell();
              let text = document.createTextNode(element[key]);
              cell.appendChild(text);
              }
          }
      }

      function generateTableFoot(table, data) {
          let tfoot = table.createTFoot();
          let frow = tfoot.insertRow(0);
          for (let key of data) {
              let fth = document.createElement("th");
              let ftext = document.createTextNode(key);
              fth.appendChild(ftext);
              frow.appendChild(fth);
          }
      }

      let table = document.querySelector("table");
      let data = ["Airline", "Flight", "Depart airport", "Depart city", "Depart time", "Arrive airport", "Arrive city", "Arrive time", "Price", "Status", "Airplane"];
      generateTable(table, info);
      generateTableHead(table, data);
      

      var header = document.getElementById("myDIV");
        var btns = header.getElementsByClassName("navbar__links");
        for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
        });
        }



        let info1 = {{customer_info | safe}};
        let table1 = document.querySelector("table");
        let data1 = ["Customer email", "Customer name", "Phone number", "passport number", "date of birth"];
        let sessions = "{{session['type']}}"
            generateTable(table1, info1);
        generateTableFoot(table1, data1);
        generateTableHead(table1, data1);
        

        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" id="tabletext" placeholder="'+title+'" />' );
            } );
        
            // DataTable
            var table = $('#example').DataTable({
                initComplete: function () {
                    // Apply the search
                    this.api().columns().every( function () {
                        var that = this;
        
                        $( 'input', this.footer() ).on( 'keyup change clear', function () {
                            if ( that.search() !== this.value ) {
                                that
                                    .search( this.value )
                                    .draw();
                            }
                        } );
                    } );
                }
            });
        
        } );
  </script>