<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>B-Airline Login</title>
<link rel="stylesheet" href="../static/public_view.css" />
<head>
</head>
<body>

    <nav class="navbar">
		<div class="navbar__container">
		  <a href="/Login" id="navbar__logo">B-AIR</a>
		  <div class="navbar__toggle" id="mobile-menu">
			<span class="bar"></span> <span class="bar"></span>
			<span class="bar"></span>
		  </div>
        </div>
	</nav>

    <section class="search-container" >
        <div id="choose-login">
            <a href="/Login/Customer" class="loginbutton" id="Login">Customer</a>
            <label class="label"> </label>
            <a href="/Login/Agent" class="loginbutton" id="Login">Booking Agent</a>
            <label class="label"> </label>
            <a href="/Login/Staff" class="loginbutton" id="Login">Airline Staff</a>
        </div>
    </section>>
