<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>B-Airline Customer Login</title>
<link rel="stylesheet" href="../static/public_view.css" />
<head>
</head>
<body>

    <nav class="navbar">
		<div class="navbar__container">
		  <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
		  <div class="navbar__toggle" id="mobile-menu">
			<span class="bar"></span> <span class="bar"></span>
			<span class="bar"></span>
		  </div>
		  <ul class="navbar__menu">
			<li class="navbar__item">
			  <a href="/login/customer" class="navbar__links" id="links">Customer</a>
			</li>
			<li class="navbar__item">
			  <a href="/login/booking_agent" class="navbar__links" id="links">Booking Agent</a>
			<li class="navbar__item">
				<a href="/login/airline_staff" class="navbar__links" id="links">Airline Staff</a>
			</li>
			<li class="navbar__btn">
				<a href="/SearchFlight" class="button" id="sign-up">Back to Public View</a>
			</li>
		  </ul>
		</div>
	</nav>



    <div class="search-container" id="search-container">
        <form action="/login/airline_staff" onsubmit="return formValidation()" autocomplete="off" method="POST">
            <label id="navbar__logo">Welcome to B-Air, airline staff!</label>
            <label class="label"> </label> </br>
            <label class="label">Email</label> </br>
            <input type="text" name = "username" placeholder="email" required/> </br>
            <label class="label">Password</label> </br>
            <input type="text" name = "password" placeholder="password" required/> </br>
            <label class="label"> </label> </br>
            <input type="submit" value = Login />
			<a href="/register/airline_staff" class="navbar__links__middle" id="register-customer">Don't have an account? Register</a>
			<label class="label"> </label> </br>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
            <!-- <a href="/" class="button" id="go-back">Go back</a> -->
        </form>
    </div>

</body>

<script type="text/javascript">
	function formValidation() {
		const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		var form_usn = document.getElementsByName("username")[0].value;

		if (!re.test(form_usn.toLowerCase())) {
            alert("Email format is wrong! Please try again");
            return false;
        }
		return true;
	}

</script>


</html>