<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B-Airline</title>
        <link rel="stylesheet" href="../static/public_view.css" />
        <!-- <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
        crossorigin="anonymous"
        /> -->
        <link rel="stylesheet" href="../static/lib/jquery-ui.css">
        <script src="../static/lib/jquery-1.12.4.js"></script>
        <script src="../static/lib/jquery-ui.js"></script>
    <body>
        <nav class="navbar">
            <div class="navbar__container">
              <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
              <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span> <span class="bar"></span>
                <span class="bar"></span>
              </div>
              <ul class="navbar__menu">
                <li class="navbar__item">
                  <a href="/SearchFlight" class="navbar__links" id="links">Search Flight</a>
                </li>
                <li class="navbar__item">
                  <a href="/CheckStatus" class="navbar__links" id="links">Check Status</a>
                <li class="navbar__btn">
                  <a href="/login" class="button" id="login">Login</a>
                </li>
                <li class="navbar__btn">
                    <a href="/register" class="button" id="sign-up">Register</a>
                </li>
              </ul>
            </div>
        </nav>

    <!-- Tab links -->
    <!-- <div class="tab">
        <button class="tablinks" onclick="openSearch(event, 'Search_Flight')">Search Flight</button>
        <button class="tablinks" onclick="openSearch(event, 'Check_Status')">Check Status</button>
    </div> -->
    
    <!-- Tab content -->
    <!-- <div id="Search_Flight" class="tabcontent">
        <form action="/SearchFlight" id="searchForm" autocomplete="off" method="POST"> -->
            <!-- <input type="text" name = "depart" placeholder="depart city or airport" required/> </br>
            <input type="text" name = "arrive" placeholder="arrive city or airport" required/> </br>
            <input type="text" name = "date" placeholder="date" required/> </br>
            <input type="submit" value = Search> -->
    <div class="search-container" id="search-container">
        <form action="/SearchFlight" autocomplete="off" method="POST">
            <label id="navbar__logo">Welcome! You may search flight here!</label> </br>
            <label class="label">Source</label>             
            <input type="text" id="src_dl" list="source" name = "depart" placeholder="depart city or airport" required/> </br>
            <!-- <datalist id="source">
                {% for line in airport_city %}
                    <option value="{{line}}">
                {% endfor %}
            </datalist> -->
            <label class="label">Destination</label>
            <input type="text" id="dst_dl" list="destination" name = "arrive" placeholder="arrive city or airport" required/> </br>
            <!-- <datalist id="destination" >
                {% for line in airport_city %}
                    <option value="{{line}}">
                {% endfor %}
            </datalist> -->
            <label class="label">Date</label>
            <input type="date" name = "date" placeholder="date" id = "date" required/> </br>
            <input type="submit" value = Search>
        </form>
    </div>

<!--    {% if session.get("logged_in", False) and session.get("type") == "customer"%}-->
<!--        -->

<!--    {% endif %}-->
    <!-- {% if flights[0] == "No Flights"%}
    <div class="label">
        flights[0]
    </div>
    {% endif %} -->
    {% if flights %}
        {% if flights[0] == "No flights"%}
            <div class="topbutton">
                <div class='warning'>
                    Sorry. {{flights[0]}}. Please search again.
                </div>
            </div>
        {% else %}

            <div class="topbutton">
                <div class="bar-container">
                    Airline / flight
                </div>
                <div class="bar-container">
                    Date
                </div>
                <div class="bar-container">
                    Depart airport / time
                </div>
                <div class="bar-container">
                    Arrive airport / time
                </div>
                <div class="bar-container">
                    Price
                </div>
                <div class="bar-container">
                    Status
                </div>
                <div class="bar-container">
                    Plane number
                </div>
                <div class="bar-container">
                    buy
                </div>

            </div>

            {% for line in flights %}
                <section class="button">
                    <div class="bluebutton">
                        <!-- <section class="bluebutton"> -->
                            <div class="flight-button-container1">
                                <div class="otherlabel">{{line[0]}}</div></Br>
                                <div class="otherlabel">{{line[1]}}</div></Br>
                            </div>
                            <div class="flight-button-container">
                                <section class="label"> </section></Br>
                                <section class="label"> </section></Br>
                                <section class="otherlabel"> {{line[4][:10]}} </section></Br>
                            </div> 
                            <div class="flight-button-container1">
                                <section class="otherlabel">{{line[2]}} {{line[3]}}</section></Br>
                                <section class="bigbutton">
                                    <section class="timelabel">{{line[4][10:]}}</section>
                                </section>
                            </div> 
                            <div class="flight-button-container">
                                <section class="otherlabel">{{line[5]}} {{line[6]}}</section></Br>
                                <section class="bigbutton">
                                    <section class="timelabel">{{line[7][10:]}}</section>
                                </section>
                            </div>
                            <div class="flight-button-container1">
                                <section class="otherlabel">${{line[8]}}</section></Br>
                            </div> 
                            <div class="flight-button-container">
                                <section class="otherlabel">{{line[9]}}</section></Br>
                            </div>
                            <div class="flight-button-container1">
                                <section class="otherlabel">{{line[10]}}</section></Br>
                            </div> 
                            <div class="flight-button-container">
                                <a href="/login" class="button" id="buybutton">BUY</a>
                            </div>
                </section>
            {% endfor %}
        {% endif %}
    {% endif %}




    </body>
    <script type="text/javascript">
        var flight_list, airports_and_city, today;
        today = new Date().toISOString().substr(0, 10);
        console.log(today);
        document.querySelector("#date").value = today;
        document.getElementsByName("date")[0].setAttribute('min', today);

        flight_list = {{flights | safe}};
        airports_and_city = {{airport_city | safe}};
        for (var i in airports_and_city) {
            console.log(airports_and_city[i]);
        }
        function openSearch(evt, searchbar) {
              // Declare all variables
              var i, tabcontent, tablinks;


              // Get all elements with class="tabcontent" and hide them
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }

              // Get all elements with class="tablinks" and remove the class "active"
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }

              // Show the current tab, and add an "active" class to the button that opened the tab
              document.getElementById(searchbar).style.display = "block";
              evt.currentTarget.className += " active";


        var arrayLength = flight_list.length;
            for (var i = 0; i < arrayLength; i++) 
                //   console.log(flight_list[i]);
                {document.getElementById("display_section").innerHTML += flight_list[i];
                }
        // for (var j in flight_list) {
        //     let info = j
        // }
        }
        $(document).ready(function() {
            $("#src_dl").autocomplete({source: airports_and_city});
            $("#dst_dl").autocomplete({source: airports_and_city});
        });
    </script>