<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Scroll Website</title>
        <link rel="stylesheet" href="../static/public_view.css" />
        <!-- <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
        crossorigin="anonymous"
        /> -->
    </head>


    <body>
    
    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Search_Flight')">Search Flight</button>
        <button class="tablinks" onclick="openCity(event, 'Check_Status')">Check Status</button>
    </div>
    
    <!-- Tab content -->
    <div id="Search_Flight" class="tabcontent">
        <form id="searchForm">
        <input type="text" name = "depart city & airport" placeholder="depart city & airport" required/> </br>
        <input type="text" name = "arrive city & airport" placeholder="arrive city & airport" required/> </br>
        <input type="text" name = "date" placeholder="date" required/> </br>
        <input type="submit" value = Search>
        </form>
    </div>

    </body>>