<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Scroll Website</title>
        <link rel="stylesheet" href="../static/styles.css" />
        <!-- <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
        crossorigin="anonymous"
        /> -->
    </head>


    <body>
    <div class="container">
        <form>
        <input type="text" name = "depart city" placeholder="depart city" required/> </br>
        <input type="text" name = "arrive city" placeholder="arrive city" required/></br>
        <input type="text" name = "depart airport" placeholder="depart airport" /> </br>
        <input type="text" name = "arrive airport" placeholder="arrive airport" /></br>
        <input type="text" name = "date" placeholder="fate" required/> </br>
        <input type="submit" value = Search>
        </form>
    </div>