<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/public_view.css') }}" />
        <title>B-Air Purchase Confirmation</title>
    </head>

<body>
    <nav class="navbar">
            <div class="navbar__container">
                {% if session["logged_in"] == True%}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR for {{session["type"]}}</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% else %}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% endif%}

            </div>
        </nav>
    <div class="search-container" id="search-container">
        <form action="/purchase/confirm/{{airline_name}}/{{flight_num}}" onsubmit="return formValidation()" autocomplete="off" method="POST">
            <label id="navbar__logo">Purchase confirmation!</label>
            <label class="label"> </label> </br>
            <label class="label">Airline name</label> </br>
            <input type="text" name = "username" placeholder="email" value="{{airline_name}}" readonly/> </br>
            <label class="label">Flight number</label> </br>
            <input type="text" name = "password" placeholder="password" value="{{flight_num}}" readonly/> </br>
            {% if session["type"] == "customer" %}
                <label class="label">Your email</label> </br>
                <input type="text" name = "customer_email" placeholder="email" value="{{email}}" readonly/> </br></br>
                <input type="checkbox" id="customer_policy" name="policy" required>
                <label for="customer_policy"> I agree with B-Air's customer policy on purchasing the ticket</label><br>
            {% else %}
                <label class="label">Your email</label> </br>
                <input type="text" name = "deputy_email" placeholder="email" value="{{email}}" readonly/> </br></br>
                <label class="label">Customer email</label> </br>
                <input type="text" name = "customer_email" placeholder="email" required/> </br></br>
                <input type="checkbox" id="agent_policy" name="policy" required>
                <label for="agent_policy"> I agree with B-Air's agent policy on purchasing the ticket</label><br>
            {% endif %}
             </br></br>
            <input type="submit" value = Confirm />
        </form>
    </div>
    
    {% if error %}
    <div class="topbutton">
        <div class='warning'>
            {{error}}
        </div>
    </div>
{% endif %}

</body>
<script type="text/javascript">
	function formValidation() {
		const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		var form_usn = document.getElementsByName("customer_email")[0].value;

		if (!re.test(form_usn.toLowerCase())) {
            alert("Email format is wrong! Please try again");
            return false;
        }
		return true;
	}

</script>
</html>