<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>B-Air Login</title>
<link rel="stylesheet" href="../static/public_view.css" />
<head>
</head>
<body>

    <nav class="navbar">
		<div class="navbar__container">
		  <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
		  <div class="navbar__toggle" id="mobile-menu">
			<span class="bar"></span> <span class="bar"></span>
			<span class="bar"></span>
		  </div>
        </div>
	</nav>

    <section class="search-container" >
        <div id="choose-login">
            <label class="label">Register as</label>
            <a href="/register/customer" class="loginbutton" >Customer</a>
            <label class="label"> </label>
            <a href="register/booking_agent" class="loginbutton" >Booking Agent</a>
            <label class="label"> </label>
            <a href="register/airline_staff" class="loginbutton" >Airline Staff</a>
        </div>
    </section>
