<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B-Airline</title>
        <link rel="stylesheet" href="../static/public_view.css" />
        <link rel="stylesheet" href="../static/lib/jquery-ui.css">
        <script src="../static/lib/jquery-1.12.4.js"></script>
        <script src="../static/lib/jquery-ui.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
        <script src="../static/lib/moment.js"></script>
    </head>

    <!-- <style>
        tfoot {display: table-row-group;}
    </style> -->
    
        <body>
            <nav class="navbar">
                <div class="navbar__container">
                  {% if session["logged_in"] == True%}
                        <a href="/SearchFlight" id="navbar__logo">B-AIR for {{session["type"]}}</a>
                        <div class="navbar__toggle" id="mobile-menu">
                            <span class="bar"></span> <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    {% else %}
                        <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
                        <div class="navbar__toggle" id="mobile-menu">
                            <span class="bar"></span> <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    {% endif%}
                    <ul class="navbar__menu" id="myDIV">
                                <li class="navbar__item">
                                <a href="/SearchFlight" class="navbar__links" id="links">Search Flight</a>
                                </li>
                                <li class="navbar__item">
                                <a href="/CheckStatus" class="navbar__links" id="links">Check Status</a>
                                </li>
                      {% if session["logged_in"] == True%}
                        {% if session.get("type", "guest") == "customer" or session.get("type", "guest") == "booking_agent" or session.get("type", "guest") == "airline_staff"%}
                          <li class="navbar__item">
                            <a href="/ViewMyFlights" class="navbar__links active" id="links">View My Flights</a>
                          </li>
                        {% endif %}
                        {% if session.get("type", "guest") == "customer"%}
                          <li class="navbar__item">
                            <a href="/TrackMySpending" class="navbar__links" id="links">Track My Spending</a>
                          </li>
                        {% endif %}
                        {% if session.get("type", "guest") == "booking_agent"%}
                          <li class="navbar__item">
                            <a href="/ViewMyCommission" class="navbar__links" id="links">View My Commision</a>
                          </li>
                          <li class="navbar__item">
                            <a href="/ViewTopCustomers" class="navbar__links" id="links">View Top Customers</a>
                          </li>
                        {% endif %}
                        {% if session.get("type", "guest") == "airline_staff"%}

                      <div class="dropdown">
                        <button class="dropbtn">Staff Management 
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="/CreateNewFlights">Create New Flights</a>
                          <a href="/ChangeFlightStatus">Change Flights Status</a>
                          <a href="/AddAirplane">Add Airplane</a>
                          <!-- <a href="/ChangeAirplane">Change Airplane</a> -->
                          <a href="/AddAirport">Add Airport</a>
                        </div>
                      </div> 

                      <div class="dropdown">
                        <button class="dropbtn">Staff Views 
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="/ViewAllBookingAgent">View Booking Agent</a>
                          <a href="/ViewFrequentCustomers">View Frequent Customers</a>
                          <a href="/ViewReports">View Reports</a>
                          <a href="/ComparisonOfRevenueEarned">View Camparison of Revenue Earned</a>
                          <a href="/ViewTopDestinations">View Top Destinations</a>
                        </div>
                      </div> 

                        {% endif %}
                            <div class="dropdown">
                                <button class="dropbtn" id="info">{{session["email"]}} 
                                <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                <a href="/Changeinfo">Change my info</a>
                                <a href="/logout">Logout</a>
                                </div>
                            </div> 
                            <!-- <li class="navbar__btn">
                            <a href="/logout" class="button" id="logout">Logout</a>
                            </li> -->
                        {% else %}
                            <li class="navbar__btn">
                            <a href="/login" class="button" id="login">Login</a>
                            </li>
                            <li class="navbar__btn">
                                <a href="/register" class="button" id="sign-up">Register</a>
                            </li>
                        {% endif%}
    
                  </ul>
                </div>
            </nav>

          
        <div class="table-container">
            <section>
                <form action="/ViewMyFlights" onsubmit="return submitdate()" autocomplete="off" method="POST">
                    <div class="bluebutton">
                        <div class="smaller-date-container">
                            <label class="label">Start date</label>             
                            <input type="date" name = "start_date">
                        </div>
                        <div class="smaller-date-container">
                            <label class="label">End date</label>             
                            <input type="date" name = "end_date">
                        </div>
                        <div class="smaller-date-container">
                            <label class="label">Source</label>             
                            <input type="text" id="src_dl" name = "depart" placeholder="depart city or airport" /> </br>
                        </div>
                        <div class="smaller-date-container">
                            <label class="label">Destination</label>
                            <input type="text" id="dst_dl" name = "arrive" placeholder="arrive city or airport" /> </br>
                        </div>
                        <div class="smaller-date-container">
                            <input type="submit" value = Filter>
                        </div>
                    </br>
                    </div>
                </form>
            </section>
<!-- <<<<<<< Updated upstream -->
            <table id="example" class="display">
                <!-- <thead style="display: table-header-group;"></thead> -->
<!-- ======= -->
            <!-- <table id="example" class="table table-bordered table-striped"> -->
                <!-- <thead style="display: table-header-group;"></tfoot       > -->
<!-- >>>>>>> Stashed changes -->
            </table>
        </br>
        </div>  
        
    </body>

    <script>
        let info = {{flights | safe}}

        function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
            }
        }

        function generateTable(table, data) {
            for (let element of data) {
                let row = table.insertRow();
                for (key in element) {
                let cell = row.insertCell();
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
                }
            }
        }

        function test() {
            alert("haiuodaios");
            return ture;
        }

        function generateStaffTable(table, data) {
            for (let element of data) {
                let row = table.insertRow();
                let cell = row.insertCell();
                let text = document.createTextNode(element[0]);
                cell.appendChild(text);

                cell = row.insertCell();
                var a = document.createElement('a');
                var linkText = document.createTextNode(element[1]);
                a.appendChild(linkText);
                // a.title = "my title text";
                a.href = "/CustomerNames/"+element[1]
                // a.onclick = "test();return false";
                cell.appendChild(a);

                // let text = document.createTextNode(data[1][key]);
                // cell.appendChild(text);
                for (let i=2; i<element.length;i++) {
                    let cell = row.insertCell();
                    let text = document.createTextNode(element[i]);
                    cell.appendChild(text);
                }
            }
        }


        function generateTableFoot(table, data) {
            let tfoot = table.createTFoot();
            let frow = tfoot.insertRow(0);
            for (let key of data) {
                let fth = document.createElement("th");
                let ftext = document.createTextNode(key);
                fth.appendChild(ftext);
                frow.appendChild(fth);
            }
        }

        let table = document.querySelector("table");
        let data = ["Airline", "Flight", "Depart airport", "Depart city", "Depart time", "Arrive airport", "Arrive city", "Arrive time", "Price", "Status", "Airplane"];
        let sessions = "{{session['type']}}"
        if (sessions == "airline_staff") {
            generateStaffTable(table, info);
        } 
        else {
            generateTable(table, info);
        }
        // generateTableFoot(table, data);
        generateTableHead(table, data);
        

        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example thead tr').clone(true).appendTo( '#example thead' );
            $('#example thead tr:eq(1) th').each( function (i) {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        
                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        
            var table = $('#example').DataTable( {
                orderCellsTop: true,
                fixedHeader: true
            });
         });

        function submitdate() {
                var start_date, end_date, form_src, form_dst, date_format;
    
                start_date = document.getElementsByName("start_date")[0].value;
                end_date = document.getElementsByName("end_date")[0].value;
                form_src = document.getElementsByName("depart")[0].value;
                form_dst = document.getElementsByName("arrive")[0].value;
                date_format = 'YYYY-MM-DD';

                if ((!form_src) && (!form_dst) && (!start_date) && (!end_date)) {
                    alert("At least one of the filter needs to be applied!");
                    return false;
                }
                
                if (form_src && !airports_and_city.includes(form_src)) {
                    alert("Source is not valid! Choose from the datalist!");
                    return false;
                }
                if (form_dst && !airports_and_city.includes(form_dst)) {
                    alert("Destination is not valid! Choose from the datalist!");
                    return false;
                }
                if (form_src && form_dst && form_src.split(" ", 1) == form_dst.split(" ", 1)) {
                    alert("Source and destination can not be the same!");
                    return false;
                }
                
                if (start_date && end_date && estart_date > end_date) {
                    alert("Start date should be before end date and today!");
                    return false;
                }

                if (start_date && !moment(start_date, date_format, true).isValid()) {
                    alert("Date format is not valid. Support format: 'YYYY-MM-DD' ");
                    return false;
                }

                if (end_date && !moment(end_date, date_format, true).isValid()) {
                    alert("Date format is not valid. Support format: 'YYYY-MM-DD' ");
                    return false;
                }

                return true;
            };
            

        function generateDateTable(table, info) {
            var start_date, end_date;
            start_date = document.getElementsByName("start_date")[0].value;
            end_date = document.getElementsByName("end_date")[0].value;

            for (let element of info) {
                if (start_date && end_date) {
                    if ((element[4].slice(0,10) >= start_date) && (element[4].slice(0,10) <= end_date)) {
                        let row = table.insertRow();
                let cell = row.insertCell();
                let text = document.createTextNode(element[0]);
                cell.appendChild(text);

                cell = row.insertCell();
                var a = document.createElement('a');
                var linkText = document.createTextNode(element[1]);
                a.appendChild(linkText);
                // a.title = "my title text";
                a.href = "/CustomerNames/"+element[1]
                // a.onclick = "test();return false";
                cell.appendChild(a);

                // let text = document.createTextNode(data[1][key]);
                // cell.appendChild(text);
                for (let i=2; i<element.length;i++) {
                    let cell = row.insertCell();
                    let text = document.createTextNode(element[i]);
                    cell.appendChild(text);
                }
            }
            
                } else if (start_date) {
                    if (element[4].slice(0,10) >= start_date) {
                        let row = table.insertRow();
                let cell = row.insertCell();
                let text = document.createTextNode(element[0]);
                cell.appendChild(text);

                cell = row.insertCell();
                var a = document.createElement('a');
                var linkText = document.createTextNode(element[1]);
                a.appendChild(linkText);
                // a.title = "my title text";
                a.href = "/CustomerNames/"+element[1]
                // a.onclick = "test();return false";
                cell.appendChild(a);

                // let text = document.createTextNode(data[1][key]);
                // cell.appendChild(text);
                for (let i=2; i<element.length;i++) {
                    let cell = row.insertCell();
                    let text = document.createTextNode(element[i]);
                    cell.appendChild(text);
                }
            }
                } else if (end_date) {
                    if (element[4].slice(0,10) <= end_date) {
                        let row = table.insertRow();
                let cell = row.insertCell();
                let text = document.createTextNode(element[0]);
                cell.appendChild(text);

                cell = row.insertCell();
                var a = document.createElement('a');
                var linkText = document.createTextNode(element[1]);
                a.appendChild(linkText);
                // a.title = "my title text";
                a.href = "/CustomerNames/"+element[1]
                // a.onclick = "test();return false";
                cell.appendChild(a);

                // let text = document.createTextNode(data[1][key]);
                // cell.appendChild(text);
                for (let i=2; i<element.length;i++) {
                    let cell = row.insertCell();
                    let text = document.createTextNode(element[i]);
                    cell.appendChild(text);
                }
            }
                }
            }
        }
        var header = document.getElementById("myDIV");
        var btns = header.getElementsByClassName("navbar__links");
        for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
        });
        }



        var airports_and_city;
        airports_and_city = {{airport_city | safe}};
        
        $(document).ready(function() {
            $("#src_dl").autocomplete({
                source: function(request, response){
                    var results = $.ui.autocomplete.filter(airports_and_city, request.term);
                    response(results.slice(0, 5));
                }
            });
            $("#dst_dl").autocomplete({
                source: function(request, response){
                    var results = $.ui.autocomplete.filter(airports_and_city, request.term);
                    response(results.slice(0, 5));
                }
            });
        });
        
    </script>
    
