<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B-Airline</title>
        <link rel="stylesheet" href="../static/public_view.css" />
        <link rel="stylesheet" href="../static/lib/jquery-ui.css">
        <script src="../static/lib/jquery-1.12.4.js"></script>
        <script src="../static/lib/jquery-ui.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    </head>


    <body>
        <nav class="navbar">
            <div class="navbar__container">
              {% if session["logged_in"] == True%}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR for {{session["type"]}}</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% else %}
                    <a href="/SearchFlight" id="navbar__logo">B-AIR</a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                {% endif%}
              <ul class="navbar__menu">
                <li class="navbar__item">
                  <a href="/SearchFlight" class="navbar__links" id="links">Search Flight</a>
                </li>
                <li class="navbar__item">
                  <a href="/CheckStatus" class="navbar__links" id="links">Check Status</a>
                    {% if session.get("type", "guest") == "customer" %}
                  <li class="navbar__item">
                    <a href="/ViewMyFlights" class="navbar__links" id="links">View My Flights</a>
                  </li>
                  {% endif %}
                  {% if session["logged_in"] == True%}
                        <li class="navbar__btn">
                        <a href="/logout" class="button" id="logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="navbar__btn">
                        <a href="/login" class="button" id="login">Login</a>
                        </li>
                        <li class="navbar__btn">
                            <a href="/register" class="button" id="sign-up">Register</a>
                        </li>
                    {% endif %}
              </ul>
            </div>

        </nav>
        <div class="table-container">  
<!-- <<<<<<< Updated upstream -->
            <table id="example" class="display">
                <!-- <thead style="display: table-header-group;"></thead> -->
<!-- ======= -->
            <table id="example" class="table table-bordered table-striped">
                <tfoot style="display: table-header-group;"></tfoot>
<!-- >>>>>>> Stashed changes -->
            </table>
        </div>  
        
    </body>

    <script>
        let mountains = {{flights | safe}}

        function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
            }
            let tfoot = table.createTFoot();
            let frow = tfoot.insertRow(0);
            for (let key of data) {
                let fth = document.createElement("th");
                let ftext = document.createTextNode(key);
                fth.appendChild(ftext);
                frow.appendChild(fth);
            }
        }

        function generateTable(table, data) {
            for (let element of data) {
                let row = table.insertRow();
                for (key in element) {
                let cell = row.insertCell();
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
                }
            }
        }

        let table = document.querySelector("table");
        let data = ["Airline", "Flight", "Depart airport", "Depart city", "Depart time", "Arrive airport", "Arrive city", "Arrive time", "Price", "Status", "Airplane"];
        generateTable(table, mountains);
        generateTableHead(table, data);

        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="'+title+'" />' );
            } );
        
            // DataTable
            var table = $('#example').DataTable({
                initComplete: function () {
                    // Apply the search
                    this.api().columns().every( function () {
                        var that = this;
        
                        $( 'input', this.footer() ).on( 'keyup change clear', function () {
                            if ( that.search() !== this.value ) {
                                that
                                    .search( this.value )
                                    .draw();
                            }
                        } );
                    } );
                }
            });
        
        } );

    </script>
    
