* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

  html {
    background:  #636fa4;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);;
  }
  
  /* body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  } */
  
  .label {
    color: #4d5da3;
    font-size: 18px;
  }

  .navbar {
    background: #636fa4;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  #navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #fc3e6d 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 30px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background:  #a8b2dd;
    background: -webkit-linear-gradient(to right, #e8cbc0, #a8b2dd);
    background: linear-gradient(to right, #e8cbc0, #a8b2dd);
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: #a8b2dd;
    transition: all 0.3s ease;
  }

  .navbar__item:active {
    color: #e8cbc0;
    transition: all 0.3s ease;
  } 

  /* Style the tab */
  .tab {
    overflow: hidden;
    background-color: #f6f6f6;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    padding: 20px 200px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #f6f6f6;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #a8b2dd;
  }
  

  .container {
    display: flex;
    justify-content: space-between;
    height: auto;
    border-top: 30px solid #a8b2dd;
    background-color: #a8b2dd;
    z-index: 1;
    width: 80%;
    max-width: 2000px;
    margin: 50px auto;
    padding: 0 50px;
  }

  .search-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    border-top: 30px solid #a8b2dd;
    background-color: #a8b2dd;
    z-index: 1;
    width: 35%;
    max-width: 2000px;
    margin: 50px auto;
    padding: 0 50px;
  }
  
  input[type=button], input[type=submit], input[type=reset] {
  background-color: #636fa4;
  border: 20px;
  margin: 30px auto;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #636fa4;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto;
    width: 100%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #636fa4;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  input[type=date] {
    margin: 10px;
    display: block;
    padding: 0.5rem 1rem;
  }
